<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Skip rewriting for valid files and directories (like your JS and CSS)
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rewrite everything else to index.html for React SPA
  RewriteRule . /index.html [L]
</IfModule>
<IfModule LiteSpeed>
  CacheDisable public /
</IfModule>
