@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind Config */
@import "tailwindcss";
@theme {
  --font-main: "Jost", sans-serif;

  --color-main: #78cbf3;
  --color-main-400: #93d5f5;
  --color-main-100: #d5effb;
  --color-hero-color: #f2fafe;
  --color-text-main: #203d4b;
  --color-stroke: #e0e0e0;
  --color-subTitle: #616161;

  --margin-navbar-height: 124px;
}

/* || reset */
html {
  overflow-x: hidden !important ;
  height: auto;
}
body {
  overflow: hidden !important ;
  height: auto;
}

button {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

/* || Classes */
.container {
  margin: auto;

  @media (width < 40rem /* 640px */) {
    width: 100%;
    padding: 0 16px !important;
  }
  @media (width >= 40rem /* 640px */) {
    max-width: 43rem;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 58rem;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024 */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280 */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
    padding: 0 120px !important;
  }
}

.menu-bar::-webkit-scrollbar {
  width: 9px;
}

.menu-bar::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 10px;
}
