@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

/* Tailwind Config */
@import "tailwindcss";

@theme {
  --font-en: "Jost", sans-serif;
  --font-ar: "Cairo", sans-serif;
  --color-main: #534457;
  --color-main-fade: #756979cc;
  --color-main-50: #f4f4f4;
  --color-main-100: #cac5cb;
  --color-main-300: #8c828e;
  --color-main-400: #93d5f5;
  --color-main-600: #6db9dd;
  --color-hero-color: #f0e9df;
  --color-text-main: #231d25;
  --color-stroke: #e0e0e0;
  --color-subTitle: #616161;
  --color-red: #d00;
  --color-footer-color: #3b303e;

  --margin-navbar-height: 124px;

  --shadow-custom: "0px 4px 4px 0px rgba(0, 0, 0, 0.25)";
}

@layer base {
  .animate {
    @apply transition-all duration-300;
  }
}

/* || reset */
html {
  /* overflow-x: hidden !important ; */
  height: auto;
  overflow-y: auto !important;
  padding: 0 !important;
}
body {
  height: auto;
}

button {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

input {
  outline: none;
}
textarea {
  outline: none;
}

/* || Classes */
.container {
  margin: auto;

  @media (width < 40rem /* 640px */) {
    width: 100%;
    padding: 0 16px !important;
  }
  @media (width >= 40rem /* 640px */) {
    max-width: 42rem;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 47rem;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 62rem /* 1024 */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280 */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
    padding: 0 120px !important;
  }
}

.menu-bar::-webkit-scrollbar {
  width: 9px;
}

.menu-bar::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 10px;
}

.cart-menu::-webkit-scrollbar {
  display: none;
}

.dashed-border {
  background-image:
    repeating-linear-gradient(
      90deg,
      #000000,
      #000000 12px,
      transparent 12px,
      transparent 19px
    ),
    repeating-linear-gradient(
      180deg,
      #000000,
      #000000 12px,
      transparent 12px,
      transparent 19px
    ),
    repeating-linear-gradient(
      90deg,
      #000000,
      #000000 12px,
      transparent 12px,
      transparent 19px
    ),
    repeating-linear-gradient(
      180deg,
      #000000,
      #000000 12px,
      transparent 12px,
      transparent 19px
    );
  background-position:
    left top,
    right top,
    left bottom,
    left top;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size:
    100% 1px,
    1px 100%,
    100% 1px,
    1px 100%;
}
